schema/payment.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio 2018 (https://www.liquid-technologies.com)-->
<xs:schema xmlns:tns="http://www.bbq_app.com/payment" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.bbq_app.com/payment" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="payment">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="orderid" type="xs:int" minOccurs="0" />
                <xs:element name="totalcost" type="xs:decimal" minOccurs="0" />
                <xs:element name="status" type="xs:string" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>